:global {
    // global style here
  body{
    width: 100%;
    background: ghostwhite;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-spin {
      animation: App-logo-spin infinite 3s linear;
    }
    .white-frame{
      background-color: #ffffff;
      box-shadow: 0 1px 7px 2px rgba(0, 0, 0, 0.08);
      min-height: 400px;
      width: 470px;
      padding: 30px;
    }
    .text-div{
      width:100%;
    }
    .detail {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    input{
      outline: none;
      font-size: 15px;
      border: solid 1px rgba(151, 151, 151, 0.39);
      height: auto;
      width: 450px;
      padding:13px;
      border-radius: 1rem;
      &:focus,&:hover {
        border-radius: 1rem;
        border: solid 1px #242526 ;
      }
      
    }
    .text-style{
      margin: 10px 0px;
      letter-spacing: 1px;
    }
    .button-style{
      outline: none;
      margin-bottom: 30px;
      border-radius: 5px;
      border: none;
      background: deepskyblue;
      color: white;
      width: 120px;
      font-size: 16px;
      height: 40px;
      cursor: pointer;
    }
    .errorText-style{
      color:red;
      letter-spacing: 1px;
    }
    a{
      color: deepskyblue;
      cursor: pointer;
      font-weight: 500;
      &:focus,&:hover {
        text-decoration: underline;
      }
    }
    .left-link{
      float: left;
    }
    .right-link{
      float: right;
    }
  }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
